@model TeachPlan.Comment


@using (Ajax.BeginForm("AddComment", "Knowledge", new AjaxOptions
{
    OnSuccess = "onAddCommentSucess",
    UpdateTargetId = "comments",
    InsertionMode = InsertionMode.InsertAfter
}, new { @id = "addCommentForm" }))
{
    <div class="editor-label">
        添加评论
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.Content)
        @Html.ValidationMessageFor(m => m.Content)
    </div>
@Html.HiddenFor(m=>m.To_Type)
    @Html.HiddenFor(m=>m.To_Id)
<input type="submit" value="Submit"/>
}