@model TPlan.ActiveDetailModel

@Html.HiddenFor(m => m.MyId)
<div class="editor-label">
    @Model.Name @Ajax.ActionLink("删除引用该活动", "RemoveActive", new { acitveId = Model.MyId}, new AjaxOptions { OnSuccess = "onRemoveActive" }, new { @class = "action", @activeId = Model.MyId })
</div>
<div class="editor-label">
    学科:@Model.Subject.Name
</div>
<div class="editor-label">
    阶段:@Model.Phase.Name
</div>
<div class="editor-label">
    内容:@Model.Content.Name
</div>
<div class="editor-label">
    阶段:@Model.Form.Name
</div>

