@model Models.PlanDetail
<div class="editor-field">
    标题:@Model.Name
</div>
<div class="editor-field">
    课时名称:@Model.ClassName
</div>
<div class="editor-field">
    单位:@Model.Organiser
</div>
<div class="editor-field">
    公开:@Model.Public
</div>
<div class="editor-field">
    学科:@Model.Subject.Name
</div>
<div class="editor-field">
    年级:@Model.Grade.Name
</div>
<div class="editor-field">
    教材:@Model.Textbook.Name
</div>
