@model TeachPlan.Target
<li>
    <div class="editor-label">
        @Html.LabelFor(m => m.Baseic)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Baseic)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Advance)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Advance)
    </div>
</li>
