@model IEnumerable<TeachPlan.Knowledge>
<div>
    @foreach (var item in Model)
    {
        <li>
            <label>
            @Html.ActionLink(item.Title,"KnowledgeDetail",new {id=item.MyId})
            </label>
            <label>
                @String.Format("{0:g}", item.CreateDate)
            </label>
        </li>
    }
</div>
