@{
    ViewBag.Title = "Index";
}

<h2>分类 </h2>
@Html.Action("CategoryTree");
<h2>最近评论</h2>
@Html.Action("LastCommentKnowledge")
<h2>最近查看 </h2>
@Html.Action("LastViewKnowledge")
<h2>最后添加</h2>
@Html.Action("LastAddKnowledge")